food_venv/
ingred_entry.py
ndf
rassoi-767af-f201b950b1ec.json
update_ingred.py
venv_new/
server.py
.DS_Store
__pycache__/
123.json
abc.json
food-a6f8e-firebase-adminsdk-rryaq-a64be88eaf.json
rassoi-767af-7e7713730f9d.json
rassoi-767af-firebase-adminsdk-q09j7-a66f37f511.json
